<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/security
        http://www.springframework.org/schema/security/spring-security-4.2.xsd">
    <!-- use-expressions:Spring 表达式语言配置访问控制 -->
    <security:http auto-config="true" use-expressions="false">
        <!-- 配置权限拦截，访问所有url，都需要用户登录，且拥有ROLE_USER权限 -->
        <security:intercept-url pattern="/**" access="ROLE_USER"  />
        <!--开启http-basic认证-->
        <security:http-basic  />
    </security:http>
    <!--登录认证-->
    <security:authentication-manager>
        <!--直接将用户名密码写死在配置文件中-->
        <security:authentication-provider>
            <security:user-service>
                <!--这里的意思登录的时候 用户名user password为111111 它拥有ROLE_USER权限 -->
                <security:user name="user" password="111111" authorities="ROLE_USER"/>
                <security:user name="admin" password="123456" authorities="ROLE_ADMIN"/>
            </security:user-service>
        </security:authentication-provider>

    </security:authentication-manager>
</beans>